<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748467289115-7et4nbqrf9pts3esbfln5sng0jo96bkt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748467289115-7et4nbqrf9pts3esbfln5sng0jo96bkt</string>
	<key>API_KEY</key>
	<string>AIzaSyB_rPzxed-M2wBjoAoE3TCYft8BxokIKCo</string>
	<key>GCM_SENDER_ID</key>
	<string>748467289115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trackeru.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>trackeru-db</string>
	<key>STORAGE_BUCKET</key>
	<string>trackeru-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748467289115:ios:691be1feecf70f03ba0cbe</string>
</dict>
</plist>